<div class="row">
    <div id="sidenav" class="col-md-12 col-lg-12">
        <ul class="list-group">
            <li class="list-group-item idea-menu-item" ng-click="goToDash()"><i class="fa fa-th-large"></i> Dashboard</li>
            <li class="list-group-item idea-menu-item" ng-click="goToPost()"><i class="fa fa-file-text"></i> Posts</li>
            <li class="list-group-item idea-menu-item" ng-click="goToCateg()"><i class="fa fa-tasks"></i> Categories</li>
            <li class="list-group-item idea-menu-item" ng-click="goToTags()"><i class="fa fa-tags"></i> Tags</li>
            <li class="list-group-item idea-menu-item" ng-click="goToCont()"><i class="fa fa-envelope-o"></i> Contacts</li>
        </ul>
    </div>
</div>
