<div>
    <input type="text" name="userId" value="{userId}" />
    <input type="text" name="code" value="{code}" />
    <input type="submit" value="link" id="clickMe"/>
</div>
<script>
    document.getElementById("clickMe").onclick = function () { alert('hello!'); };
</script>

<!--<iframe src="template.html" height="100%" width="100%"></iframe>-->

<!--<style></style>
<form action="{apiBaseUri}/api/Account/ConfirmEmail" method="post">
    <input type="text" name="userId" value="{userId}" />
    <input type="text" name="code" value="{code}" />
    <input type="submit" value="link" />
</form>-->