@import "variables";
@import "mixins";

*:focus, *:active {
    outline: none !important;
    box-shadow: none !important;
    border-color: none !important;
}

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

body {
    font-family: 'Lora', serif;
    height: 100%;
    width: 100%;
}
// global styles
.body-content {
    padding-top: 40px;
    padding-bottom: 40px;
}

.idea-text {
    color: #ffffff !important;
}

#idea-loading {
    position: fixed;
    top: 0;
    display: none;
    width: 100%;
    height: 100vh;
    background: $green-color;
    z-index: -1;

    &.animated {
        &.fadeIn {
            display: inline-block;
            z-index: 99999;
        }
    }
}

.loader {
    color: #ffffff;
    font-size: 11px;
    text-indent: -99999em;
    margin: 55px auto;
    position: relative;
    width: 10em;
    height: 10em;
    border-radius: 50%;
    box-shadow: inset 0 0 0 1em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);

    &:before, &:after {
        position: absolute;
        content: '';
        border-radius: 50%;
    }

    &:before {
        width: 5.2em;
        height: 10.2em;
        background: $green-color;
        border-radius: 10.2em 0 0 10.2em;
        top: -0.1em;
        left: -0.1em;
        -webkit-transform-origin: 5.2em 5.1em;
        -moz-transform-origin: 5.2em 5.1em;
        -ms-transform-origin: 5.2em 5.1em;
        -o-transform-origin: 5.2em 5.1em;
        transform-origin: 5.2em 5.1em;
        -webkit-animation: load 2s infinite ease 1.5s;
        -moz-animation: load 2s infinite ease 1.5s;
        -o-animation: load 2s infinite ease 1.5s;
        animation: load 2s infinite ease 1.5s;
    }

    &:after {
        width: 5.2em;
        height: 10.2em;
        background: $green-color;
        border-radius: 0 10.2em 10.2em 0;
        top: -0.1em;
        left: 5.1em;
        -moz-transform-origin: 0 5.1em;
        -ms-transform-origin: 0 5.1em;
        -o-transform-origin: 0 5.1em;
        -webkit-transform-origin: 0 5.1em;
        transform-origin: 0 5.1em;
        -webkit-animation: load 2s infinite ease;
        -moz-animation: load 2s infinite ease;
        -o-animation: load 2s infinite ease;
        animation: load 2s infinite ease;
    }
}

@-webkit-keyframes load {
    0% {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes load {
    0% {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load {
    0% {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.form-group {

    .idea-textbox {
        padding: 5px;
        border: 1px solid #000000;

        input, textarea {
            width: 100%;
            box-shadow: none !important;
            background: transparent !important;
            border-color: transparent !important;
            border-radius: 0;
        }

        textarea {
            min-height: 100px;
        }
    }

    &.has-error {
        .idea-textbox {
            border: 1px solid #a94442;
        }
    }
}

.idea-button {
    font-family: "Coustard",serif;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 0;
    background-color: $green-color;
    border: transparent;

    &:hover, &:focus {
        color: #ffffff !important;
    }
}

.idea-alert {
    position: fixed;
    top: 0;
    border-radius: 0;
    @include animation-duration('1s');
}

// page & forms
.idea-page {
    display: table;
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;

    .idea-form-container {
        display: table-cell;
        vertical-align: middle;

        .title {
            font-family: 'Dorsa', sans-serif;
            font-size: 90px;
            color: #fff;
            letter-spacing: 1px;
            text-align: center;
        }
    }
}

// signup title
#signup {
    font-family: "Dorsa",sans-serif;
    font-size: 24px;
    letter-spacing: 1px;
}

// admin
.idea-content {
    height: 100vh;
    width: 100%;

    .idea-section-top {
        position: absolute;
        top: 0;
        height: 15vh;
        width: 100%;
        background: transparent;

        ul {
            position: absolute;
            bottom: 10px;
            list-style-type: none;
            padding-left: 0;

            li {
                color: #ffffff !important;
                float: left;
            }
        }
    }

    .idea-section-bottom {
        position: absolute;
        bottom: 0;
        height: $admin-height;
        width: 100%;
        background: #ffffff;

        .idea-container {
            margin-top: 10px;
            min-height: 80vh;
            background-color: $grey-color;
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
        }
    }
}

//
.idea-sidenav {
    padding-top: 20px;
    height: $admin-height;
    background: $grey-color;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.24);

    ul {

        li {
            color: #ffffff;
            border: none !important;
            border-top-left-radius: 0 !important;
            border-top-right-radius: 0 !important;
            cursor: pointer;
            background: $grey-color;
        }
    }
}

#wrapper {
    width: 100%;
    height: 100vh;
    display: table;
}

#main {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.idea-form-wrap {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 400px;
    background-color: #ffffff;

    .idea-form {
        text-align: left;
        padding: 0 20px;
    }

    p {
        font-family: "Raleway", sans-serif;
        margin: 10px 0;

        a {
            color: $green-color;
        }
    }
}
