<!--Admin dashboard-->
<div class="idea-content">
    <div class="idea-section-top">
        <div class="container">
            <ul>
                <li>/</li>
                <li><a ui-sref="home">Home</a></li>
                <li>/</li>
                <li>Admin</li>
            </ul>
        </div>
    </div>
    <div class="idea-section-bottom">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-3 idea-sidenav" ui-view="sidenav"></div>
                <div class="col-lg-9 col-md-9" ui-view></div>
            </div>
        </div>
    </div>
</div>
