<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <a ui-sref="home"><i class="fa fa-home"></i></a>/
        <span class="idea-title-active">Categories</span>
    </div>
</div>
<div class="row">
    <h1 class="idea-small-title">Recent Categories</h1>
    <hr />
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-repeat="category in categories">
        <h3 class="idea-small-title"><a ui-sref="categorie-details({id: category.id})">{{category.name}}</a></h3>
    </div>
</div>
