@import "variables";
@import "mixins";

*:focus, *:active {
    outline: none !important;
    box-shadow: none !important;
    border-color: none !important;
}

body {
    font-family: "Roboto", sans-serif;
    height: 100%;
    width: 100%;
}
// global styles
.body-content {
    padding-top: 40px;
    padding-bottom: 40px;
}

.form-group {

    .idea-textbox {
        padding: 10px 6px;
        background-color: #f2f2f2;

        input {
            width: 100%;
            box-shadow: none !important;
            background: transparent !important;
            border-color: transparent !important;
            border-radius: 0;
        }
    }

    &.has-error {
        .idea-textbox {
            border: 1px solid #a94442;
        }
    }
}

.idea-button {
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    width: 100% !important;
    border-radius: 0;
    background-color: $green-color;
    border: transparent;

    &:hover, &:focus {
        color: #ffffff !important;
    }
}

.idea-alert {
    position: fixed;
    top: 0;
    border-radius: 0;
    @include animation-duration('1s');
}

// login page
.idea-page {
    display: table;
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    background: $green-color;

    .idea-form-container {
        display: table-cell;
        vertical-align: middle;

        .idea-form-wrap {
            display: block;
            margin-left: auto;
            margin-right: auto;
            padding: 40px 40px 10px;
            text-align: center;
            width: 400px;
            background-color: #ffffff;
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

            .idea-form {
                text-align: left;
                padding: 0 20px;
            }

            p {
                margin: 10px 0;
                font-family: 'Reem Kufi';

                a {
                    color: $green-color;
                }
            }
        }

        .title {
            font-family: 'Dorsa', sans-serif;
            font-size: 100px;
            color: #fff;
            letter-spacing: 1px;
            text-align: center;
        }
    }
}
/*#idea-login-page {
    display: table;
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    background: $green-color;

    #idea-login-form-container {
        display: table-cell;
        vertical-align: middle;

        #idea-login-form-wrap {
            display: block;
            margin-left: auto;
            margin-right: auto;
            padding: 40px 40px 10px;
            text-align: center;
            width: 400px;
            background-color: #ffffff;
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

            #idea-login-form {
                text-align: left;
                padding: 0 20px;
            }

            p {
                margin: 10px 0;
                font-family: 'Reem Kufi';

                a {
                    color: $green-color;
                }
            }
        }

        .title {
            font-family: 'Dorsa', sans-serif;
            font-size: 100px;
            color: #fff;
            letter-spacing: 1px;
            text-align: center;
        }
    }
}*/